/*********************
variables
*********************/
$fontFamily: 'Raleway', sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadow: #cccac5;
$white: #fff;
$transition: .4s ease;
$padding: 50px 0;

/*********************
mixins
*********************/
@mixin flex($justify, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    padding: 15px 40px;
    background: $pink;
    color: $white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    &:hover {
        background: $black;
        transition: $transition;
    }
}
/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    line-height: 1.6;
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width:767px) {
        width: 95%;
    }
}
.headings {
    padding: $padding;
    @include flex(space-between, center, row);
    article:first-child {
        flex: 2;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h2 {
            font-size: 10rem;
            color: $lightgray;
            @media (max-width:767px) {
                font-size: 8rem;
            }
        }
    }
    article:last-child {
        flex: 10;
        @media (max-width:767px) {
            flex: 0 0 100%;
        }
        h3 {
            text-transform: uppercase;
        }
        h2 {
            font-size: 3rem;
            @media (max-width:767px) {
                font-size: 2rem;
            }
            span {
                color: $pink;
            }
        }
        h4 {
            font-size: 1.5rem;
            font-weight: 300;
        }
    }
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
ul {
    list-style: none;
}
a {
    color: $black;
    text-decoration: none;
    &:hover {
        color: $white;
        transition: $transition;
    }
}

/*********************
nav
*********************/
nav {
    @include flex(space-between, center, row);
    background: linear-gradient(to right, $pink, $lightgray);
    padding: 20px 50px;
    @media (max-width:767px) {
        @include flex(center, center, row);
        text-align: center;
    }
    .logo {
        font-size: 1.8rem;
        line-height: 25px;
        font-weight: 700;
        color: $white;
        span {
            font-size: 1rem;
            color: $black;
            font-weight: 600;
        }
        &:hover {
            color: $lightgray;
            transition: $transition;
        }
    }
    ul {
        @include flex(space-between, center, row);
        li {
            margin: 0 20px;
            text-transform: uppercase;
            @media (max-width:767px) {
                margin: 0 5px;
            }
            &:nth-child(5) {
                background: $pink;
                padding: 10px 20px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
            &:nth-child(6) {
                background: $black;
                padding: 10px 15px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
        }
    }
}

/*********************
header
*********************/
header {
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    height: 80vh;
    @include flex(center, flex-end, column);
    padding-right: 300px;
    text-align: right;
    @media (max-width:767px) {
        text-align: left;
        padding: 35px;
        @include flex(center, flex-start, column);
    }
    h1 {
        font-size: 4rem;
        line-height: 1.3;
        @media (max-width:767px) {
            font-size: 3rem;
        }
    }
    h3 {
        color: $pink;
        font-size: 2rem;
    }
    p {
        font-size: 21px;
        color: $pink;
    }
    button {
        @include btn;
    }
}

/*********************
headings
*********************/

/*********************
about
*********************/
.about {
    @include flex(space-between, center, row);
    article:first-child {
        flex: 0 0 50%;
        height: 500px;
        @media (max-width:767px) {
            flex: 0 0 100%;
            height: auto;
        }
        img {
            width: 100%;
            display: block;
            height: 100%;
            @media (max-width:767px) {
                height: auto;
            }
        }
    }
    article:last-child {
        height: 500px;
        flex: 0 0 50%;
        background: $black;
        color: $white;
        @include flex(center, flex-start, column);
        padding: 0 40px;
        @media (max-width:767px) {
            flex: 0 0 100%;
            height: auto;
            padding: 30px 30px;
            @include flex(space-between, center, row);
        }
        h2 {
            font-size: 2.5rem;
            @media (max-width:767px) {
                font-size: 1.5rem;
            }
        }
    }
}

/*********************
services
*********************/
.services {
    padding: $padding;
    @include flex(space-between, center, row);
    article {
        flex: 0 0 30%;
        border: 1px solid $black;
        padding: 20px;
        &:hover {
            transition: $transition;
            transform: scale(1.1);
            box-shadow: 0 0 20px $boxShadow;
        }
        i {
            color: $pink;
            font-size: 5rem;
            margin-bottom: 20px;
        }
        h2 {
            font-weight: 600;
            margin-bottom: 20px;
        }
        hr {
            margin-bottom: 20px;
        }
    }
    article:nth-child(1) {
        margin-bottom: 55px;
    }
    article:nth-child(2) {
        margin-bottom: 55px;
    }
    article:nth-child(3) {
        margin-bottom: 55px;
    }
}

/*********************
footer
*********************/
footer {
    padding: 100px 0;
    background: linear-gradient(to right, $black, $pink);
    text-align: center;
    .container {
        @include flex(space-between, center, row);
        .col {
            flex: 1;
            @media (max-width:767px) {
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            .logo {
                font-size: 1.5rem;
                line-height: 25px;
                font-weight: 700;
                color: $white;
                span {
                    font-size: 1rem;
                    color: $pink;
                    font-weight: 500;
                }
                &:hover {
                    color: $pink;
                    transition: $transition;
                }
            }
        }
    }
}